@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@*@model IDictionary<string, string>*@
@using Mirabeau.Feature.Navigation.Models


@model List<SCLanguageVM>
<ul id="lang">
    @foreach (var language in Model)
    {
        string[] lanValues = language.LanguageUrl.Split('/');
        string langSort = lanValues[1].Substring(lanValues[1].Length - 2);
        string langSelected = string.Empty;
        if (langSort.ToUpper() == language.LanguageIsSelected.ToUpper())
        {
            langSelected = "selected";
        }
        //else
        //{
        //    langSelected = "langLast";
        //}
        if (language.LanguageName.ToUpper() == "ENGLISH")
        {
            @*<li class="@langSelected">
                    <a href="@language.LanguageUrl">@lanValues[1].ToUpper()</a>
                </li>*@
        }
        else if (language.LanguageName.ToUpper() == "FRENCH (FRANCE)")
        {
            <li class="@langSelected">
                <a href="@language.LanguageUrl">@langSort.ToUpper()</a>
            </li>
        }
        else
        {
            <li class="@langSelected" id="langLast">
                <a href="@language.LanguageUrl">@langSort.ToUpper()</a>
            </li>
        }
    }
</ul>

