@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Mirabeau.Feature.Navigation.Helpers
@model RenderingModel
@{

}
<div>
   
        <header>
        <div class="menu">
            <input type="checkbox" class="toggler" id="checkbox">
            <div class="hamburger"><div></div></div>
            <div class="navbar">
                <div class="nav-items">
                    <ul>
                        @if (Model.Item.DisplayName == "SCEBHome")
                        {
                            <li class="menuli"><a style="color:blue" href="@Sitecore.Links.LinkManager.GetItemUrl( Mirabeau.Feature.Navigation.Helpers.SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages"))">@SiteHelper.HomeItem().Fields["Meta Title"].Value</a></li>
                        }
                        else
                        {
                            <li class="menuli"><a href="@Sitecore.Links.LinkManager.GetItemUrl( Mirabeau.Feature.Navigation.Helpers.SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages"))">@SiteHelper.HomeItem().Fields["Meta Title"].Value</a></li>
                        }
                        @foreach (var item in SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome").Children.InnerChildren.ToArray())
                        {
                            if (@item["Show in Menu"] == "1")
                            {
                                if (@item.Fields["Meta Title"].Value == Model.Item.DisplayName)
                                {
                                    <li class="menuli">
                                        @if (SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome/" + item.Name).HasChildren)
                                        {
                                            <div class="drop1">
                                                <input type="checkbox" id="drop1">
                                                <label for="drop1">
                                                    @if (item.Fields["Meta Title"].Value == Model.Item.DisplayName)
                                                    {
                                                        <a style="color:blue" href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">@item.Fields["Meta Title"].Value<i class="material-icons">keyboard_arrow_down</i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">@item.Fields["Meta Title"].Value<i class="material-icons">keyboard_arrow_down</i></a>
                                                    }
                                                </label>
                                                <div class="drop-menu">
                                                    @foreach (var itemch in SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome/" + item.Name).Children.InnerChildren.ToArray())
                                                    {
                                                        if (itemch["Show in Menu"] == "1")
                                                        {
                                                            <a href="@Sitecore.Links.LinkManager.GetItemUrl(@itemch)">@itemch.Fields["Meta Title"].Value</a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <a style="color:blue" href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">@item.Fields["Meta Title"].Value</a>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="menuli">
                                        @if (SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome/" + item.Name).HasChildren)
                                        {
                                            <div class="drop1">
                                                <input type="checkbox" id="drop1">
                                                <label for="drop1"><a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">@item.Fields["Meta Title"].Value</a><i class="fa fa-caret-down" style="font-size: 17px;margin-left: 10px;"></i></label>
                                                <div class="drop-menu">
                                                    @foreach (var itemch in SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome/" + item.Name).Children.InnerChildren.ToArray())
                                                    {
                                                        if (itemch["Show in Menu"] == "1")
                                                        {
                                                            <a href="@Sitecore.Links.LinkManager.GetItemUrl(@itemch)">@itemch.Fields["Meta Title"].Value</a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (@item.Fields["Meta Title"].Value == Model.Item.DisplayName)
                                        {
                                            <a style="color:blue" href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">@item.Fields["Meta Title"].Value</a>
                                        }
                                        else
                                        {
                                            <a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">@item.Fields["Meta Title"].Value</a>
                                        }
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            @Html.Sitecore().Placeholder("Topmenu.Search")
        </div>
        @*@Html.Sitecore().Placeholder("Topmenu.Search")*@
    </header>

</div>
